<div class="todo-app">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-sm-12 col-12">
        <div class="head w-100">
          <div class="text-center">
            <h3>Todo App</h3>
          </div>
          <form class="w-100" (ngSubmit)="addItem(todoText.value); todoText.value=''; $event.preventDefault()" #todoForm="ngForm">
            <div class="w-100 input-con">
              <label for="todo-input">
                <input id="todo-input" name="todoText" ngModel #todoText placeholder="Insert your notes here" type="text">
                <button type="submit" class="btn btn-primary">Add</button>
              </label>
            </div>
          </form>
        </div>
        <div class="custom-control custom-checkbox my-2">
          <input type="checkbox" [(ngModel)]="isDisplay" class="custom-control-input" id="displayAll">
          <label for="displayAll" class="custom-control-label ms-1">All Display</label>
        </div>
        <div class="body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Desc</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Del</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getItems(); let i=index">
                <td>{{i+1}}</td>
                <td>{{item.description}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.action">
                </td>
                <td>
                  <span *ngIf="item.action; else notCompleted">Yes</span>
                  <ng-template #notCompleted>No</ng-template>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteItem(i)">Del</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
