.todo-app{
    height: 100vh;
    padding-top: 8rem;
}
.todo-app .input-con label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: .2rem;
}
.todo-app .input-con label input{
    width: 100%;
    outline: none;
}
.todo-app table{
    width: 100% !important;
}